<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grup Ödevi</title>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    
</head>
<body>

    <!-- Birinci Section -->
    <section class="section-1">
        <div class="text-container">
            <span class="highlight">MASTER</span> 
            <span class="white-text">YOUR PHOTOGRAPHY</span> 
            <span class="highlight">SKILLS</span> 
            <span class="highlight">WITH</span> 
            <span class="highlight">US!</span>
        </div>
    </section>

    <!-- İkinci Section - About Us -->
    <section class="section-2">
        <div class="about-us-header">
            <span class="highlight-about">About</span> 
            <span class="highlight-us">Us</span>
        </div>

        <!-- İçerik Kısımları (Fotoğraf, Metin 1 ve Metin 2) -->
        <div class="content-wrapper">
            <!-- Fotoğraf -->
            <div class="content-div">
                <div class="photo-container">
                    <img src="/src/img/3.png" alt="Photography" class="photo" />
                </div>
            </div>

            <!-- Metin 1 -->
            <div class="content-div">
                <div class="text-1">
                    Our photography school is designed to teach you everything you need to know about this magical art. Regardless of your experience or skill level, we offer a wide range of courses to suit your needs and interests. Our teaching team consists of experienced photographers who have many years of experience in this field. They strive not only to share their knowledge, but also to inspire you to develop and express your unique creativity.
                </div>
            </div>
           <!-- Metin 2 -->
           <div class="content-div">
                 <div class="text-2">
                     Our courses cover a wide range of topics, from the basics of photography and equipment use to professional image processing and creating impressive compositions. You will have the opportunity to learn the technical aspects of photography, discover your own style and develop your own visual language.
                 </div>
           </div>

            
        </div>
    </section>

</body>
</html>
