
      <section class="hero">
        <div class="hero_content">
          <h1>Discover the <em>magic</em> of photography in our school</h1>
          <p class="hero-content-text">
            Our photography school offers an unforgettable journey, where you
            can learn the basics of composition, master technical skills,
            translate your unique ideas.
          </p>
          <div class="hero__stats">
            <div class="avatar-text-section">
              <div class="avatars">
                <img src="./img/girl-1.jpg" alt="Student 1" />
                <img src="./img/boy.jpg" alt="Student 2" />
                <img src="./img/girl-2.jpg" alt="Student 3" />
              </div>
              <div class="students">
                <a href="#" class="students-text">Our happy students</a
                ><svg class="arrow">
                  <use href="./img/arrow.png"></use>
                </svg>
              </div>
            </div>           
           
            <div class="reviews">
              
              <div class="star-content">
                <svg width="24" height="24" class="star">
                <use href="./img/star.jpg"></use>
                </svg>
              </div>
              
              <div class="reviews-section">
                <p class="review-text">Reviews</p>
                <p class="review-number">+1500</p>
              </div>
            
            </div>
          
          </div>
        </div>
        <div class="hero__image">
          <img
            src="./img/boy-with-camera.png"
            alt="Photographer holding camera"
          />
        </div>
        </div>
      </section>

